body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 80px 0;
    background: #07010c;
    color: white;
    margin: 0;
}

.container {
    width:90%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #07010c;
    padding: 10px 50px;
    border-bottom: 2px solid #741165;
    z-index: 1000;
    box-sizing: border-box;
}

.header h2 {
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    margin: 10px;
    color: #fff;
    transition: .3s;
}

nav ul>li a:hover {
    color: #f700eaee;
}


nav a.active {
    color: #ff4d94;
    border-bottom: 2px solid #ff4d94;
    padding-bottom: 5px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}   

.hero-text h1,
.hero-text h2,
.hero-text h3 {
    margin: 0px 30px 0px 0px;
}

.lp-img {
    width: 500px;
    height: 320px;
    border-radius: 10px;
}

.github {
    max-width: 30px;
    margin: 0px 20px 20px 0px;
    border-radius: 50%;
}

.linkedIn {
    width: 30px;
    margin: 0px 20px 20px 0px;
    margin-top: 35px;
    border-radius: 8px;
}

.btn-1 {
    text-decoration: none;
    padding: 10px 25px;
    margin: 0px 20px 0px 0px;
    border-radius: 8px;
    color: white;
    background-color: #c42a77;
    border: none;
    font-size: 18px;
}

h1 {
    font-size: 60px;
    font-weight: 400;
}

.hero-text h2,
.hero-text h3 {
    color: #e64193;
    font-weight: 400;
}

.hero-text p {
    max-width: 400px;
    line-height: 28px;
    font-size: 18px;
}

.btn-1:hover {
    background: #ff4da6;
}

.about {
    margin: 80px 10%;
    background: #1b1b1b;
    padding: 30px 30px 70px 30px;
    border-radius: 8px;
}

.about p {
    line-height: 26px;
    font-size: 18px;
    word-spacing: 1px;
    margin-bottom: 50px;
}

.cv-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cv-btn a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    color: #11050d;
}


.cv-btn a:hover {
    background: #111;
    color: #fff;
}

.html-img,
.css-img,
.js-img,
.bootstrap-img,
.jquery-img,
.rwd-img,
.github-img {
    width: 30px;

}

.skills ul>li {
    list-style: none;
}

#head-about,
#head-skills {
    font-weight: 400;
    font-size: 40px;
    text-shadow: 1px 1px 1px #000000;
    color: #f700eaee;
    text-align: center;
}

.skills {
   padding: 80px 10%;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills ul>li {
    display: flex;
    align-items: center;
    width: 250px;
    margin: 20px 10px;
    border-radius: 8px;
    background-color: #1b1b1b;
    color: #fff;
    padding: 10px;
    box-shadow: 10px 10px 10px #000000;
}

ul>li span {
    margin-left: 15px;
}

.projects {
    padding: 50px 0;
}

.projects-heading {
    text-align: center;
    font-size: 40px;
    color: #f700eaee;
    margin-bottom: 60px;
    font-weight: 500;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    width: 340px;
    background-color: #1b1b1b;
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 0 15px #ffffff14;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #c42a77;
}

.project-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.project-card h3 {
    color: #fff;
    padding: 20px 20px 10px;
    font-size: 25px;
    font-weight: 500;
}

.project-card p {
    padding: 0 20px;
    line-height: 28px;
    color: #fff;
}

.project-btns {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.live-btn {
    background-color: #c42a77;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: .03s;
}

.github-btn {
    border: 1px solid white;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: .03s;
}

.live-btn:hover {
    background-color: #ff4da6;
}

.github-btn:hover {
    background-color: white;
    color: black;
}

.contact {
    margin: 80px 10%;
    padding: 20px 0;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
}

.contact h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact p {
    color: #fff;
    margin-bottom: 30px;
}

.contact form {
    max-width: 600px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 15px;
    margin: 12px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
}

.contact textarea {
    resize: none;
}

.contact button {
    padding: 15px 35px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

.contact button:hover {
    background: #0097a7;
}

.contact-info {
    margin-top: 40px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 18px;
}

.contact-info p>a{
    text-decoration: none;
    color: #fff;
}

#successMessage {
    color: #00ff00;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 500;
    text-align: center;
}

#typing {
    font-size: 30px;
    background:linear-gradient(90deg,#ff4d94,#00e5ff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-weight: 500;
}

#topBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: .3s;
    display: none;
}

#topBtn:hover {
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}

@media(max-width:768px) {
    .hero {
        flex-direction: column;
        margin-top: 80px;
    }

    .hero-img img{
        width: 80%;
    }

    .cards {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 80%;
    }

    .contact {
        margin: 50px 20px;
        padding: 20px;
    }

    .contact h2 {
        font-size: 32px;
    }

    .contact p {
        font-size: 16px;
    }

    .contact form {
        width: 100%;
        max-width: 100%;
    }

    .contact input,
    .contact textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 14px;
        font-size: 16px;
    }

    .contact button {
        width: 100%;
        padding: 14px;
        font-size: 18px;
    }
}